<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Accueil - {{constant('WEBSITE_TITLE')}}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</head>
<body class="container">
<header>
    <nav class="navbar navbar-expand-md bg-dark py-10 pb-4 m-2">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item me-3">
                        <a class="nav-link {% if menu == 'accueil' %}active {% endif %}" aria-current="page" href={% block redirect_accueil %}"accueil.php"{% endblock %}>Accueil</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link {% if menu == 'formation' %}active {% endif %}" href={% block redirect_formation %}"formation.php"{% endblock %}>Formation</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link {% if menu == 'experiences' %}active {% endif %}" href={% block redirect_experiences %}"experiences.php"{% endblock %}>Expériences</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link {% if menu == 'projets' %}active {% endif %}" href={% block redirect_projets %}"projets.php"{% endblock %}>Projets</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link {% if menu == 'competences' %}active {% endif %}" href={% block redirect_competences %}"competences.php"{% endblock %}>Compétences</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link {% if menu == 'contact' %}active {% endif %}" href={% block redirect_contact %}"contact.php"{% endblock %}>Contact</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link nav-icon text-white" href="https://www.linkedin.com/in/e-desessard" target="_blank" title="LinkedIn">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-icon text-white" href="https://github.com/CarteSD" target="_blank" title="GitHub">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link nav-icon text-white copy-icon" id="copyEmail" title="Copier l'adresse e-mail">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="notification" id="copyNotification">
    <p>Adresse e-mail copiée !</p>
    <div class="progress-bar" id="progressBar"></div>
</div>

{% block content %}
{% endblock %}

<footer>
    <p><a class="redirect" href="src/CV_DESESSARD_ESTEBAN.pdf" target="_blank">Consulter mon CV (.pdf)</a></p>
    <p>&copy; 2024 Estéban DESESSARD - Tous droits réservés</p>
    <a class ="redirect" href="https://storyset.com/people" target="_blank">People illustrations by Storyset</a>
</footer>

<script src={% block redirect_indexjs %}"index.js"{% endblock %}></script>

{% block script %}
{% endblock %}

</body>
</html>