{% extends "base.html.twig" %}
{% block title %}Compétences - {{constant('WEBSITE_TITLE')}}{% endblock %}

{% block content %}
<main class="container">
    <h2 class="pb-2">Mes compétences</h2>

    <div class="row align-items-center">
        <div class="row">
            <div class="col-md-8">
                <h5 class="text-decoration-underline">Hard-skills <span class="fst-italic">(savoir-faire)</span> :</h5>
                <p>Durant mes enseignements variés à l'IUT de Bayonne et du Pays Basque à Anglet, j'ai pu acquérir et développer différentes compétences techniques :</p>
                <ul>
                    <li>Programmation Orientée Objet :
                        <ul>
                            <li><span class="fw-bold">C++</span> <span class="fst-italic">(réalisation d'applications avec QtCreator)</span></li>
                            <li><span class="fw-bold">Java</span></li>
                            <li><span class="fw-bold">PHP</span></li>
                        </ul>
                    </li>
                    <li class="mt-3">Développement web :
                        <ul>
                            <li><span class="fw-bold">HTML</span> <span class="fst-italic">(front-end)</span></li>
                            <li><span class="fw-bold">CSS (et librairies comme Bootstrap ou Tailwind)</span> <span class="fst-italic">(front-end)</span></li>
                            <li><span class="fw-bold">JavaScript</span> <span class="fst-italic">(développement web dynamique, AJAX)</span></li>
                            <li><span class="fw-bold">PHP</span> <span class="fst-italic">(back-end)</span></li>
                            <li><span class="fw-bold">Twig</span> <span class="fst-italic">(factorisation de code)</span></li>
                        </ul>
                    </li>
                    <li class="mt-3">Base de données relationnelle :
                        <ul>
                            <li><span class="fw-bold">Conception de base de données relationnelle</span> <span class="fst-italic">(E/A, UML, schéma relationnel)</span></li>
                            <li><span class="fw-bold">Utilisation de différents SGBD</span> <span class="fst-italic">(MySQL, Oracle)</span></li>
                            <li><span class="fw-bold">Manipulation de base de données relationnelle</span> <span class="fst-italic">(requêtes SQL, PL/SQL)</span></li>
                        </ul>
                    </li>
                    <li class="mt-3">Gestion de projet :
                        <ul>
                            <li><span class="fw-bold">Rédaction de documentation</span> <span class="fst-italic">(CDCF, documentation de code)</span></li>
                            <li><span class="fw-bold">Méthode agile</span> <span class="fst-italic">(Scrum)</span></li>
                            <li><span class="fw-bold">Gestion de versions</span> <span class="fst-italic">(Git, GitHub)</span></li>
                        </ul>
                    </li>
                    <li class="mt-3">Administration réseau (sur l'application Marionnet) :
                        <ul>
                            <li><span class="fw-bold">Routage</span></li>
                            <li><span class="fw-bold">Implémentation de règles iptables</span></li>
                            <li><span class="fw-bold">Service SSH</span></li>
                        </ul>
                    </li>
                    <li class="mt-3">Communication :
                        <ul>
                            <li><span class="fw-bold">Création de site WordPress</span></li>
                            <li><span class="fw-bold">Création de posters et dépliants publicitaires</span> <span class="fst-italic">(Figma)</span></li>
                            <li><span class="fw-bold">Storytelling</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <img src="src/Innovation-amico.svg" alt="Image de formation" class="img-fluid">
            </div>
        </div>
    </div>

    <hr>

    <div class="row align-items-center">
        <div class="col-md-4">
            <img src="src/Soft-skills-amico.svg" alt="Image de formation" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h5 class="text-decoration-underline">Soft-skills <span class="fst-italic">(savoir-être)</span> :</h5>
            <div class="text-justify">
                <p>Seuls les compétences techniques ne suffisent pas à définir un élément moteur dans une équipe. Selon moi, le savoir-être est tout aussi important afin de travailler et collaborer dans un environnement meilleur.</p>
                <p>Je suis une personne à l'écoute du client afin de recueillir correctement les besoins et de proposer une solution répondant aux attentes, mais aussi de l'équipe avec laquelle je collabore. Effectivement, la communication au sein d'une équipe de travail est primordiale afin de s'assurer de sa cohésion et de son efficacité.</p>
                <p>De plus, je suis très curieux et toujours à la recherche de nouvelles choses à faire comme le présente ici mon portfolio, le fruit d'une créativité sobre, qui est un projet que j'ai entretenu personnellement.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}