{% extends "base.html.twig" %}
{% block title %}Accueil - {{constant('WEBSITE_TITLE')}}{% endblock %}

{% block content %}
<main class="container">
    <h2 class="pb-2">Mes compétences</h2>

</main>
{% endblock %}