{% extends "base.html.twig" %}
{% block title %}Contact - {{constant('WEBSITE_TITLE')}}{% endblock %}

{% block content %}
<main class="container">
    <h2 class="pb-4">Me contacter</h2>
    <div class="row align-items-center">
        <div class="col-md-6">
            <p class="text-justify">Si mon profil vous <span class="highlight">intéresse</span> ou si vous désirez des <span class="highlight">informations supplémentaires</span>, n'hésitez pas à me contacter par e-mail ou bien directement via ce formulaire. Je serai ravis de pouvoir vous <span class="highlight">répondre dans les plus brefs délais</span> !</p>
            <hr>

            <div id="validationMessage" class="alert" style="display: none;">

            </div>

            <div id="contactForm">
                <div class="mb-3">
                    <label for="inputIdentite" class="form-label">Votre Nom & Prénom</label>
                    <input class="form-control" id="inputIdentite" name="identite" maxlength="64" required>
                </div>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Votre adresse e-mail</label>
                    <input class="form-control" id="inputEmail" name="email" maxlength="128" required>
                </div>
                <div class="mb-3">
                    <label for="inputObjet" class="form-label">Objet de votre message</label>
                    <input class="form-control" id="inputObjet" name="objet" maxlength="64" required>
                </div>
                <div class="mb-3">
                    <label for="inputMessage" class="form-label">Description de votre message</label>
                    <textarea class="form-control" id="inputMessage" name="message" maxlength="2048" rows="5" required></textarea>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="inputCheckbox" name="checkbox" required>
                    <label class="form-check-label" for="inputCheckbox">En cochant cette case, vous acceptez d'être recontacté par Estéban DESESSARD à l'adresse e-mail que vous avez renseignée ci-dessus.</label>
                </div>
                <button id="submitButton" onclick="submitForm(this)" class="btn btn-primary w-100">Envoyer</button>
            </div>
        </div>
        <div class="col-md-6">
            <img src="src/Voice-chat-amico.svg" alt="contact">
        </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script language="JavaScript">
    function submitForm(e) {
        var message = document.getElementById('validationMessage');
        message.style.display = 'block';
        message.classList.add("alert-warning");
        message.innerHTML = "<strong>Envoi du message en cours...</strong><br>Cette étape peut prendre quelques secondes.";
        message.classList.remove("alert-success");
        message.classList.remove("alert-danger");
        message.classList.add("alert-warning");
        var xhr = getXMLHttpRequest();
        xhr.onreadystatechange = function () {
            if(this.readyState === 4)
            {
                if(this.status === 200)
                {
                    message.classList.remove("alert-success");
                    message.classList.remove("alert-danger");
                    message.classList.remove("alert-warning");
                    document.getElementsByClassName('align-items-center')[document.getElementsByClassName('align-items-center').length - 1].classList.remove('align-items-center');
                    if(this.responseText === "error-validite-identite") {
                        message.classList.add("alert-danger");
                        message.innerHTML = "<strong>Votre message n'a pas pu être envoyé !</strong><br>Merci de renseigner une identité valide.";

                    }
                    else if(this.responseText === "error-validite-email") {
                        message.classList.add("alert-danger");
                        message.innerHTML = "<strong>Votre message n'a pas pu être envoyé !</strong><br>Merci de renseigner une adresse e-mail valide.";
                    }
                    else if(this.responseText === "error-envoi-email") {
                        message.classList.add("alert-danger");
                        message.innerHTML = "<strong>Votre message n'a pas pu être envoyé !</strong><br>Une erreur s'est déroulée lors de l'envoi du formulaire. Vous pouvez me contacter directement à l'adresse e-mail suivante : edesessard@etud.univ-pau.fr";
                    }
                    else if(this.responseText === "error-saisi") {
                        message.classList.add("alert-danger");
                        message.innerHTML = "<strong>Votre message n'a pas pu être envoyé !</strong><br>Merci de remplir tous les champs.";
                    }
                    else if(this.responseText === "success") {
                        message.classList.add("alert-success");
                        message.innerHTML = "<strong>Votre message a bien été envoyé !</strong><br>Je vous recontacterai à l'adresse e-mail fournie dans les plus brefs délais !";
                    }
                    else
                    {
                        alert("Erreur inconnue : " + this.responseText);
                    }
                }
                else
                {
                    alert("Le serveur n'a pas répondu à la requête : code d'erreur : " + this.status);
                }
            }
        }
        xhr.open("POST",`submit.php`,true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send("identite=" + document.getElementById('inputIdentite').value + "&email=" + document.getElementById('inputEmail').value + "&objet=" + document.getElementById('inputObjet').value + "&message=" + document.getElementById('inputMessage').value + "&checkbox=" + document.getElementById('inputCheckbox').value);
    }

    function getXMLHttpRequest() {
        var xhr = null;
        if (window.XMLHttpRequest || window.ActiveXObject) {
            if (window.ActiveXObject) {
                try {
                    xhr = new ActiveXObject("Msxml2.XMLHTTP");
                } catch(e) {
                    xhr = new ActiveXObject("Microsoft.XMLHTTP");
                }
            } else {
                xhr = new XMLHttpRequest();
            }
        } else {
            alert("Votre navigateur ne supporte pas l'objet XMLHTTPRequest...");
            return null;
        }
        return xhr;
    }
</script>
{% endblock %}