{% extends "base.html.twig" %}
{% block title %}Expériences - {{constant('WEBSITE_TITLE')}}{% endblock %}

{% block content %}
<main class="container">
    <h2 class="pb-2">Mes expériences</h2>

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-7">
                    <h5><a href="https://www.bias-aventure.com/" class="redirect">Bias Aventure - Parc accrobranche</a></h5>
                </div>

                <div class="col-md-5 text-end">
                    <span class="fst-italic">Bias, France<br>Juil. 2021 - Maintenant</span>
                </div>

                <div>
                    <br>
                    <p class="fw-bold text-justify">
                        Depuis maintenant 4 saisons estivales consécutives, je travaille en tant qu'opérateur dans un parc accrobranche sur la côte landaise. Mes missions sont diverses et variées, il s'agit donc d'être polyvalent et surtout d'avoir une bonne interaction avec la clientèle.<br>
                        <br>
                        J'ai de plus pu réaliser <a class="redirect" href="src/FLYER_LA_PIGNA.pdf" download>le dépliant publicitaire de la pizzeria (.pdf)</a> installée sur le parc, me permettant de faire le lien avec ma passion pour le numérique.
                    </p>

                    <span class="text-decoration-underline"> Compétences développées :</span>
                    <ul>
                        <li>Accueil de la clientèle</li>
                        <li>Gestion de la caisse</li>
                        <li>Sensibilisation au danger</li>
                        <li>Travail d'équipe</li>
                        <li>Communication professionnelle</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="src/Team-amico.svg" alt="Image de formation" class="img-fluid">
        </div>
    </div>
</main>
{% endblock %}