{% extends "base.html.twig" %}
{% block title %}Formation - {{constant('WEBSITE_TITLE')}}{% endblock %}

{% block content %}
<main class="container">
    <h2 class="pb-4">Mon parcours scolaire</h2>

    <div class="row align-items-center">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-7">
                    <h5><a href="https://www.iutbayonne.univ-pau.fr/" class="redirect">IUT de Bayonne et du Pays Basque</a></h5>
                    <p><span class="text-decoration-underline">Diplôme :</span> BUT Informatique <span class="fst-italic">(en cours d'acquisition)</span></p>
                </div>

                <div class="col-md-5 text-end">
                    <span class="fst-italic">Anglet, France<br>Sept. 2023 – Maintenant</span>
                </div>

                <div>
                    <p class="fw-bold text-justify">
                        Depuis 2 ans, j'ai pu <span class="fst-italic">(re)</span>découvrir les bases de l'informatique, mais surtout acquérir des connaissances profondes dans différents domaines. Cette formation durera encore 1 an pour me permettre d'atteindre un BAC+3 et être muni de connaissances me permettant une insertion dans le monde professionnel.
                    </p>

                    <span class="text-decoration-underline"> Compétences majeures développées :</span>
                    <ul>
                        <li>Conception (maquettes avec <a class="redirect" href="https://www.figma.com/">Figma</a>)</li>
                        <li>Programmation (C, C++, Java, HTML, CSS, JavaScript sur les <a class="redirect" href="https://www.jetbrains.com/fr-fr/">IDE JetBrains</a>)</li>
                        <li>Versionning (Git)</li>
                        <li>Gestion de bases de données (MySQL, Oracle)</li>
                        <li>Gestion de projet (agilité)</li>
                        <li>Administration réseau (routage, règles iptables)</li>
                        <li>Utilisation de la suite <a class="redirect" href="https://www.microsoft.com/fr-fr/microsoft-365/products-apps-services">Microsoft Office 365</a></li>
                    </ul>
                </div>

                <hr class="m-3 p-2">

                <div class="col-md-7">
                    <h5><a href="https://www.lpo-saint-exupery-parentis-en-born.com/" class="redirect">Lycée Général & Technologique Saint-Exupéry</a></h5>
                    <p><span class="text-decoration-underline">Diplôme :</span> Baccalauréat général</p>
                </div>

                <div class="col-md-5 text-end">
                    <span class="fst-italic">Parentis-en-Born, France<br>Sept. 2020 – Juin 2023</span>
                </div>

                <div>
                    <p class="fw-bold text-justify">
                        Avant de m'orienter vers une formation axée dans l'informatique, j'ai préféré passer par un baccalauréat général avec spécialité mathématiques et physique-chimie dans le but d'avoir un choix d'orientation plus large si l'informatique ne me correspondait finalement plus.
                    </p>

                    <span class="text-decoration-underline"> Compétences développées :</span>
                    <ul>
                        <li>Mathématiques</li>
                        <li>Physique-chimie</li>
                        <li>Science de l'ingénieur</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="src/Webinar-amico.svg" alt="Image de formation" class="img-fluid">
        </div>
    </div>

</main>
{% endblock %}