{% extends "base.html.twig" %}
{% block title %}Formation - {{constant('WEBSITE_TITLE')}}{% endblock %}

{% block redirect_accueil %}
    "../accueil.php"
{% endblock %}

{% block redirect_formation %}
    "../formation.php"
{% endblock %}

{% block redirect_experiences %}
    "../experiences.php"
{% endblock %}

{% block redirect_projets %}
    "../projets.php"
{% endblock %}

{% block redirect_competences %}
    "../competences.php"
{% endblock %}

{% block redirect_contact %}
    "../contact.php"
{% endblock %}

{% block content %}
<main class="container">
    <h2 class="pb-2">Création de mon portfolio en ligne</h2>
    <div>
        <span class="fst-italic"><span class="text-decoration-underline">Type de projet :</span> Site web personnel</span><br>
        <span class="fst-italic"><span class="text-decoration-underline">Début du projet :</span> 01 octobre 2024</span><br>
        <span class="fst-italic"><span class="text-decoration-underline">Durée du projet :</span> en cours...</span><br>
        <span class="fst-italic text-decoration-underline"><a href="https://github.com/CarteSD/portfolio" class="redirect">Lien de redirection GitHub</a></span><br>
        <br>
    </div>
    <div class="row align-items-center">
        <div class="col-md-4">
            <p class="text-justify">
                L'idée de ce projet m'est venue suite à une réflexion à propos de ma recherche de stage pour valider ma deuxième année de formation à l'IUT. Effectivement, nous étions dans la nécéssité de créer un porfolio, nous présentant sous différentes aspects afin d'appuyer et jusitifer nos compétences via les projets que nous avons pu réaliser.<br>
                <br>
                Plusieurs solutions avec plusieurs technologies s'offraient à moi : utiliser un "générateur" de site tel que <a class="redirect" href="https://fr.wix.com/">Wix</a> ou bien <a class="redirect" href="https://wordpress.com/fr/">Wordpress</a>.<br>
                Cependant, dans le but de continuer à m'expérimenter dans la création de site web en <span class="highlight">HTML & CSS</span> avec quelques animations en <span class="highlight">JavaScript</span>, j'ai préféré écrire mon site à la main en utilisant seulement le framework <span class="highlight"><a class="redirect" href="https://getbootstrap.com/">Bootstrap</a></span>.<br>
                <br>
                L'entièreté de ce projet a été réalisé sur l'IDE <span class="highlight"><a class="redirect" href="https://www.jetbrains.com/fr-fr/webstorm/">WebStorm</a></span> de la suite JetBrains et l'outil de versionning <span class="highlight"><a class="redirect" href="https://git-scm.com/">Git</a></span>.
            </p>
        </div>
        <div class="col-md-8">
            <img src="../src/code-portfolio.png" alt="code du portfolio" class="img-fluid">
            <p class="pb-3 fst-italic text-gray text-end">Le code ci-dessus peut présenté de légères différences dûes à des modifications régulières de la section.</p>
        </div>
    </div>
    <div class="row align-items-center">
        <div>
            <p class="text-justify">
                Cette création m'a permis d'approfondir ma connaissance de <span class="highlight">Bootstrap</span>, qui est un outil que nous utilisons aussi à l'IUT afin de réaliser notre projet d'application web de mini-jeux en ligne. De plus, <span class="highlight">l'utilisation de Git</span> m'a permis de pouvoir travailler depuis différentes machines sans avoir l'obligation de le transporter sur clé USB ou bien effectuer un dépôt manuel sur un Cloud.
            </p>
        </div>
    </div>
    <a href="../projets.php" class="btn btn-primary">Retourner aux projets</a>
</main>
{% endblock %}

{% block redirect_indexjs %}
    "../index.js"
{% endblock %}