{% extends "base.html.twig" %}
{% block title %}Projets - {{constant('WEBSITE_TITLE')}}{% endblock %}

{% block content %}
<main class="container">
    <h2 class="pb-2">Mes projets</h2>
    <p>Vous pouvez retrouver sur cette page un récapitulatif de mes projets réalisés, qu'ils soient personnels ou bien scolaires, individuels, mais aussi collaboratifs. Certains sont hébergés sur la plateforme <a class="redirect" href="https://github.com/CarteSD" target="_blank">GitHub</a> afin de pouvoir y consulter le code source.</p>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card me-3 mb-3" style="width: 18rem;">
                <img src="./src/cp-logo-v3.png" class="card-img-top mx-auto mt-3 w-75" alt="portfolio">
                <div class="card-body">
                    <h5 class="card-title">Comus Party</h5>
                    <p class="card-text text-justify">Application web de mini-jeux en ligne, Comus Party est un projet étudiant réalisé sur trois semestres de formation. Réalisé avec quatre autres étudiants, nous avons monté le projet du début jusqu'à la fin.</p>
                    <a href="projets/comus-party.html" class="btn btn-primary">Voir les détails</a>
                </div>
            </div>

            <div class="card me-3 mb-3" style="width: 18rem;">
                <img src="./src/portfolio.JPG" class="card-img-top mt-3" alt="portfolio">
                <div class="card-body">
                    <h5 class="card-title">Mon portfolio</h5>
                    <p class="card-text text-justify">Afin de pouvoir continuer à exploiter mes compétences en HTML, CSS & JavaScript, j'ai décidé de créer mon propre portfolio pour y faire ressortir ma créativité voulue sobre et ma simplicité.</p>
                    <a href="projets/portfolio.html" class="btn btn-primary">Voir les détails</a>
                </div>
            </div>

            <div class="card me-3 mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Lecteur de diaporama</h5>
                    <p class="card-text text-justify">Durant la SAÉ 2.01, j'ai réalisé avec deux autres étudiants un lecteur de diaporama en C++. Ce lecteur charge les images depuis une base de données et permet à l'utilisateur d'y naviguer.</p>
                    <a href="projets/s201-lecteur-de-diaporama.html" class="btn btn-primary">Voir les détails</a>
                </div>
            </div>


        </div>
    </div>
</main>
{% endblock %}