{% extends "base.html.twig" %}
{% block title %}Formation - {{constant('WEBSITE_TITLE')}}{% endblock %}

{% block redirect_accueil %}
    "../accueil.php"
{% endblock %}

{% block redirect_formation %}
    "../formation.php"
{% endblock %}

{% block redirect_experiences %}
    "../experiences.php"
{% endblock %}

{% block redirect_projets %}
    "../projets.php"
{% endblock %}

{% block redirect_competences %}
    "../competences.php"
{% endblock %}

{% block redirect_contact %}
    "../contact.php"
{% endblock %}

{% block content %}
<main class="container">
    <h2 class="pb-2">Création d'un lecteur de diaporama</h2>
    <div>
        <span class="fst-italic"><span class="text-decoration-underline">Type de projet :</span> Scolaire</span><br>
        <span class="fst-italic"><span class="text-decoration-underline">Début du projet :</span> mars 2024</span><br>
        <span class="fst-italic"><span class="text-decoration-underline">Durée du projet :</span> 3 mois</span><br>
        <span class="fst-italic text-decoration-underline"><a href="https://github.com/CarteSD/s201" class="redirect">Lien de redirection GitHub</a></span><br>
        <br>
    </div>
    <div class="row align-items-center">
        <div class="col-md-4">
            <p class="text-justify">
                Manipulant les bibliothèques de l'IDE <a class="redirect" href="https://www.qt.io/product/development-tools">Qt Creator</a> ainsi qu'une base de données MySQL, ce lecteur de diaporama m'a permis de découvrir les premières contraintes d'une <span class="highlight">réalisation graphique d'IHM</span>.<br>
                <br>
                Par groupe de 3 étudiants, nous avons réalisé ce projet incrémental en 8 versions majeures, ajoutant chacune de nouvelles fonctionnalités. Démarrant initialement d'un projet s'exécutant dans un terminal et créant des images "fictives" nous avons pu, version après version, obtenir une interface graphique Ce travail d'équipe a permis de mettre en pratique le patron <span class="highlight">Modèle - Vue - Présentation</span> (MVP) étudié en cours. Ce patron peut s'appliquer à grand nombre de projets de ce type, permettant un entretien de code beaucoup plus efficace dans le futur.<br>
                <br>
                Ce projet a été réalisé entièrement en <span class="highlight">C++</span> sur <a class="redirect highlight" href="https://www.qt.io/product/development-tools">l'IDE Qt Creator</a>, ayant pour avantage de pouvoir créer des interfaces graphiques sur-mesure. Dans les dernières versions, les diaporamas ainsi que leurs images étaient chargées depuis la base de données, nécessitant ainsi de <span class="highlight">manipuler le langage SQL</span>.
            </p>
        </div>
        <div class="col-md-8">
            <img src="../src/code-portfolio.png" alt="code du portfolio" class="img-fluid">
            <p class="pb-3 fst-italic text-gray text-end">Le code ci-dessus peut présenté de légères différences dûes à des modifications régulières de la section.</p>
        </div>
    </div>
    <div class="row align-items-center">
        <div>
            <p class="text-justify">
                Grâce à la réalisation de ce projet, j'ai pu continuer à exploiter mais aussi développer mes compétences en <span class="highlight">Programmation Orientée Objet</span> (POO) C++. J'ai également pu approfondir mon expérience en <span class="highlight">gestion de projet</span>, puisque les délais de réalisation étaient stricts et le <span class="highlight">travail de groupe</span> parfois en distanciel imposait une <span class="highlight">organisation sans faille</span>.
            </p>
        </div>
    </div>
    <a href="../projets.php" class="btn btn-primary">Retourner aux projets</a>
</main>
{% endblock %}

{% block redirect_indexjs %}
    "../index.js"
{% endblock %}